body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ffffff, #000000);
    color: #333;
    margin: 0;
    padding: 0;
}
.device-info {
    background: #f9f9f9;
    border: 1px solid #d3e3fc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.device-image {
    max-width: 100%;
    border-radius: 10px;
}

.device-info h2 {
    color: #007bff;
    text-align: center;
}

.device-info h3 {
    margin-top: 15px;
    color: #333;
}

.device-info ul {
    list-style-type: none;
    padding: 0;
}

.device-info ul li {
    margin: 5px 0;
}
header {
    background-color: #ffffff; 
    color: white; 
    padding: 1px 0; 
    text-align: center;
}

nav ul {
    list-style-type: none; 
    padding: 0; 
}

nav ul li {
    display: inline; 
    margin: 0 15px; 
}

nav ul li a {
    color: rgb(0, 0, 0); 
    text-decoration: none; 
}
footer {
    text-align: center; 
    margin-top: 20px; 
    padding: 10px 0; 
    background-color: rgba(255, 255, 255, 0.9);
}
